* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
    text-decoration: none;
    
}

img {
    display: block;
    width: 100%;
}

button {
    background: transparent;
    border: 0;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 936px;
    margin: 0 auto;
    padding: 0 16px;
}

.title {
    font-size: 34px;
line-height: 39px;
}
/* global style */

.nav__bar {
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
    border-bottom: 1px solid #828282;
    color: #828282;
}


.header__container {
    padding-bottom: 104px;
}

.header_content {
    display: flex;
    padding-top: 90px;
    padding-bottom: 43px;
}

.h1__text {
    font-size: 47.3392px;
    line-height: 54px;
    height: 56px;
    width: 359px;
    margin-right: 62px;
    text-align: left;
}

.header__p {
    width: 156.65px;
    Height: 44.06px;
    text-align: left;
  
}

.language__span {
    font-size: 16px;
line-height: 18px;
    width: 100px;
    height: 20px;
    margin-left: 230px;
}



.about-me__container {
    padding-top: 120px;
    padding-bottom: 107px;
    background: #F6F6F6;
}



.title__about-me {
width: 156px;
height: 43px;
padding-bottom: 18px;
margin: 0 auto;
}

.about-me__text {
 width: 485px;
 height: 218px;
 margin: 0 auto;
}









.skills__title {
    margin-top: 91px;
    margin-bottom: 70px;
}

.skills__text {
    font-size: 14px;
line-height: 16px;
color: #828282;
}


.skills__image {
    display: inline;
    width: 80px;
    height: 80px;
    margin-bottom: 23px;

}

.skills__figma {
    display: inline;
    width: 54px;
    height: 80px;
}

.stars__icon {
    display: inline;
    width: 166px;
    height: 26px;
    margin-top: 41px
}
 
.skills__img {
    padding-top: 87px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-evenly; 
}











.portfolio {
    background: #F6F6F6;
    
    padding-bottom: 100px;
}



.portfolio__img {
    width: 100%;
    min-width: 500px;
    margin-bottom: 44px;
}

.portfolio__title {
    padding-top: 112px;
    margin-bottom: 47px;
}

.portfolio__text {
    margin-top: 45px;
    margin-bottom: 99px;
    text-decoration-line: underline;
}


.contacts__title {
    padding-top: 114px;
    margin-bottom: 20px;
}

.message__button {
    color: #FFFFFF;
    margin-top: 30px;
    background-color: #070707;
    width: 180px;
    height: 42px;
    border-radius: 20px;
    margin-bottom: 86px;
}

.footer__icons {
    display: flex;
    justify-content: space-evenly; 
}
.footer__img {
    width: 40px;
    height: 40px;
    margin-right:60px;
    margin-bottom: 45px;
}

.footer__ul {
    display: flex;
    justify-content: space-between;
}
  
.footer__text {
    font-size: 14px;
line-height: 16px;
color: #828282;
margin-bottom: 125px;
}